<h1 class='country__name'>{{name}}</h1>
<div class='country__wrapper'>
  <ul class='country__about'>
    <li >Capital: {{capital}}</li>
    <li >Population: {{population}}</li>
    <li>
      <ul class='country__lang'> Languages:
        {{#each languages}}
          <li class="country__item">{{this.name}}</li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <img class='country__flag' src={{flag}} alt={{name}}/>
</div>